* {
  all: unset;
  display: block;
  font-family: Calibri;
  font-size: 16px;
}
head {
  display: none;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
body {
  background-image: url("cubes_@2X.png");
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0%;
  width: 100%;
}
footer p {
  margin: 0;
}
footer, header {
  background-image: url("diagmonds.png");
  color: white;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
header {
  padding: 1.25rem 1rem;
}
header h4 {
  margin: 0;
}
main {
  margin-bottom: 4.5rem;
  text-align: justify;
}
main div {
  background-color: #F5F5F5;
  padding: 1rem;
  margin: 1rem auto;
  width: 75%;
}
li a, p a {
  display: inline;
}
p {
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
ul {
  margin-bottom: 1rem;
}
ul li {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}
@media (max-width: 600px) {
  footer {
    display: block;
    position: relative;
  }
  main {
    margin-bottom: 0;
  }
}
